<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="{{url_for('static',filename='tracker.css')}}" rel="stylesheet" id="login-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <section class="wrapper">
        <div class="container">
            <h1 class="welcome">WELCOME</h1>
            <h1 class="user">{{user}}</h1>
            <h1>TRACKERS</h1>
            {% for row in range(num//3+1) %}
            <div class="row" padding="20px">
                {% for col in range(3) %} {%if (row*3 + col < num)%} 
                <div class="col-md-4">
                    <div class="card text-white card-has-bg click-col" style="background-image:url({{ url_for('static',filename='bgimg.jpg') }});">
                        <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                                <small class="card-meta mb-2">{{row * 3 + col + 1}}</small>
                                <h2 class="card-title mt-0 "><a class="text-white">{{tracker_info.get(row * 3 + col + 1)}}</a></h2>
                                <p><i class="far fa-clock"></i> {{ user_record_info.get(row * 3 + col + 1, "New") }}</p><br>
                                <button type="button" class="button btn btn-primary button-review"><a href="/deck/{{userName}}/{{row * 3 + col + 1}}/review">Review</a></button>
                                <button type="button" class="button btn btn-primary button-edit"><a href="/deck/{{userName}}/{{row * 3 + col + 1}}/edit">Edit</a></button>
                                <button type="button" class="button btn btn-primary button-delete"><a href="/deck/{{userName}}/{{row * 3 + col + 1}}/delete">Delete</a></button>
                            </div>
                            <div class="card-footer">
                                <div class="media">
                                    <div class="media-body">
                                        <h6 class="my-0 text-white d-block">{{user}}</h6>
                                        <h6>Score: {{avg[row * 3 + col + 1]}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            {%endif%} {%if (row*3 + col == num)%}
            <div class="col-md-4">
                <div class="card text-white card-has-bg click-col" style="background-image:url({{ url_for('static',filename='bgimg.jpg') }});">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <small class="card-meta mb-2">{{row * 3 + col + 1}}</small>
                            <h2 class="card-title mt-0 "><a class="text-white">Add Tracker</a></h2>
                            <button type="button" class="button btn btn-primary button-edit"><a href="/deck/{{userName}}/add">ADD</a></button>
                        </div>
                        <div class="card-footer">
                            <div class="media">
                                <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" alt="Generic placeholder image" style="max-width:50px">
                                <div class="media-body">
                                    <h6 class="my-0 text-white d-block">Oz COruhlu</h6>
                                    <small>Director of UI/UX</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
        {% endfor %}

        </div>
    </section>

</body>

</html>